# Zabbix server configuration ({{ ansible_managed_marker }})
ListenPort={{ zabbix_server_listen_port }}
LogFile={{ zabbix_server_log_file }}
LogFileSize=0
PidFile={{ zabbix_server_pid_file }}
SocketDir={{ zabbix_server_socket_dir }}
DBHost={{ zabbix_server_db_host }}
DBName={{ zabbix_server_db_name }}
DBUser={{ zabbix_server_db_user }}
DBPassword={{ zabbix_server_db_password }}
StartPollers={{ zabbix_server_start_pollers }}
StartPollersUnreachable={{ zabbix_server_start_pollers_unreachable }}
AlertScriptsPath={{ zabbix_server_alert_scripts_path }}
ExternalScripts={{ zabbix_server_external_scripts }}
Timeout={{ zabbix_server_timeout }}
FpingLocation={{ zabbix_server_fping_location }}
Fping6Location={{ zabbix_server_fping6_location }}
LogSlowQueries={{ zabbix_server_log_slow_queries }}
StatsAllowedIP={{ zabbix_server_stats_allowed_ip }}
HousekeepingFrequency={{ zabbix_server_housekeeping_frequency }}
MaxHousekeeperDelete={{ zabbix_server_max_housekeeper_delete }}
StartPingers={{ zabbix_server_start_pingers }}
StartTrappers={{ zabbix_server_start_trappers }}
StartDiscoverers={{ zabbix_server_start_discoverers }}
StartPreprocessors={{ zabbix_server_start_preprocessors }}
StartHTTPPollers={{ zabbix_server_start_http_pollers }}
StartAlerters={{ zabbix_server_start_alerters }}
StartTimers={{ zabbix_server_start_timers }}
StartEscalators={{ zabbix_server_start_escalators }}
CacheSize={{ zabbix_server_cache_size }}
HistoryCacheSize={{ zabbix_server_history_cache_size }}
HistoryIndexCacheSize={{ zabbix_server_history_index_cache_size }}
TrendCacheSize={{ zabbix_server_trend_cache_size }}
ValueCacheSize={{ zabbix_server_value_cache_size }}
